---
dependency:
  name: galaxy
  options:
    requirements-file: ./molecule/requirements.yml
driver:
  name: vagrant
  provider:
    name: virtualbox
platforms:
  - name: "2016"
    box: cdaf/WindowsServer
    box_version: ${MOLECULE_VAGRANT_BOX_VERSION:-2023.03.13}
    box_url: ${MOLECULE_VAGRANT_BOX_URL}
    cpus: 2
    memory: 8192
    provider_options:
      gui: false
      linked_clone: true
    instance_raw_config_args: &vagrant_args
      - "vm.boot_timeout = 1200"
      - "vm.communicator = 'winrm'"
      - "vm.guest = :windows"
      - "vm.network 'forwarded_port', guest: 5985, host: 55985"
      - "winrm.basic_auth_only = true"
      - "winrm.transport = 'plaintext'"
      - "winrm.username = 'vagrant'"
      - "winrm.password = 'vagrant'"
      - "winrm.retry_limit = 50"
      - "winrm.retry_delay = 10"
  - name: "2019"
    box: gusztavvargadr/windows-server-2019-standard
    box_version: ${MOLECULE_VAGRANT_BOX_VERSION:-1809.0.2407}
    box_url: ${MOLECULE_VAGRANT_BOX_URL}
    cpus: 2
    memory: 8192
    provider_options:
      gui: false
      linked_clone: true
    instance_raw_config_args: *vagrant_args
  - name: "2022"
    box: gusztavvargadr/iis-windows-server
    box_version: ${MOLECULE_VAGRANT_BOX_VERSION:-2102.0.2312}
    box_url: ${MOLECULE_VAGRANT_BOX_URL}
    cpus: 2
    memory: 8192
    provider_options:
      gui: false
      linked_clone: true
    instance_raw_config_args: *vagrant_args
provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../roles
    OBJC_DISABLE_INITIALIZE_FORK_SAFETY: 'YES'
  connection_options:
    ansible_connection: winrm
    ansible_host: 127.0.0.1
    ansible_port: 55985
    ansible_become_method: runas
    ansible_become_user: vagrant
    ansible_password: vagrant
    ansible_user: vagrant
    ansible_winrm_scheme: http
    ansible_winrm_transport: basic
    ansible_winrm_server_cert_validation: ignore
    ansible_winrm_operation_timeout_sec: 60
    ansible_winrm_read_timeout_sec: 90
  playbooks:
    converge: windows-converge.yml
    prepare: ../default/windows-prepare.yml
    verify: windows-verify.yml
  options:
    vvv: true
