---
- name: Converge scenario with the default configuration
  hosts: all
  become: yes
  vars:
    splunk_access_token: fake-token
    splunk_realm: fake-realm
  tasks:
    - name: "Include splunk_otel_collector"
      include_role:
        name: "splunk_otel_collector"
