---
- name: Converge scenario with the default configuration
  hosts: all
  become: yes
  vars:
    splunk_access_token: fake-token
    splunk_realm: fake-realm
  tasks:
    - name: "Include signalfx.splunk_otel_collector.collector role"
      include_role:
        name: "collector"
