---
- name: Verify scenario with the default configuration
  hosts: all
  gather_facts: true
  become: no
  vars:
    collector_reg_values:
      SPLUNK_CONFIG: '{{ ansible_env.ProgramData }}\Splunk\OpenTelemetry Collector\agent_config.yaml'
      SPLUNK_ACCESS_TOKEN: fake-token
      SPLUNK_REALM: fake-realm
      SPLUNK_API_URL: https://api.fake-realm.signalfx.com
      SPLUNK_HEC_TOKEN: fake-token
      SPLUNK_HEC_URL: https://ingest.fake-realm.signalfx.com/v1/log
      SPLUNK_INGEST_URL: https://ingest.fake-realm.signalfx.com
  tasks:
    - name: Check splunk-otel-collector service
      ansible.windows.win_service:
        name: splunk-otel-collector
        state: started
      check_mode: yes
      register: service_status

    - name: Get splunk-otel-collector service env vars
      ansible.windows.win_reg_stat:
        path: HKLM:\SYSTEM\CurrentControlSet\Services\splunk-otel-collector
        name: Environment
      register: collector_env

    - name: Verify splunk-otel-collector service env vars
      ansible.builtin.assert:
        that: (item.key + '=' + (item.value | string)) in collector_env.value
      loop: "{{ collector_reg_values | dict2items }}"
