---
- name: Verify scenario with the default configuration
  hosts: all
  gather_facts: true
  become: no
  vars:
    reg_values:
      SPLUNK_CONFIG: '{{ ansible_env.ProgramData }}\Splunk\OpenTelemetry Collector\agent_config.yaml'
      SPLUNK_ACCESS_TOKEN: fake-token
      SPLUNK_REALM: fake-realm
      SPLUNK_API_URL: https://api.fake-realm.signalfx.com
      SPLUNK_HEC_TOKEN: fake-token
      SPLUNK_HEC_URL: https://ingest.fake-realm.signalfx.com/v1/log
      SPLUNK_INGEST_URL: https://ingest.fake-realm.signalfx.com
      SPLUNK_TRACE_URL: https://ingest.fake-realm.signalfx.com/v2/trace
  tasks:
    - name: Check splunk-otel-collector service
      ansible.windows.win_service:
        name: splunk-otel-collector
        state: started
      check_mode: yes
      register: service_status

    - name: Assert splunk-otel-collector service status
      assert:
        that: not service_status.changed

    - name: Check fluentdwinsvc service
      ansible.windows.win_service:
        name: fluentdwinsvc
        state: started
      check_mode: yes
      register: service_status

    - name: Assert fluentdwinsvc service status
      assert:
        that: not service_status.changed

    - name: Verify env vars
      include_tasks: ../shared/verify_registry_key.yml
      vars:
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Environment
        name: "{{ item.key }}"
        value: "{{ item.value }}"
      loop: "{{ reg_values | dict2items }}"
