max-concurrency = 20
accept = [
    200,
    429,
]
timeout = 30
exclude = [
    "my.host",
    "file://*",
    "api.*.signalfx.com",
    "ingest.*.signalfx.com",
    "splunk.jfrog.io.*basearch",
    "localhost:*",
    "127.*:*",
    "splunk_gateway_url",
    ".*.cf-app.com",
    "https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.63.1",  # release was deleted
    "ideas.splunk.com",
    "https://github.com/signalfx/splunk-otel-collector/tree/main/internal/exporter/pulsarexporter",  # exporter was deleted
    "https://github.com/signalfx/splunk-otel-collector/tree/main/cmd/translatesfx", # translatesfx was deleted
    "https://www.microsoft.com/en-us/evalcenter/download-windows-server-2022"
    "https://superuser.com/a/980821", # failing with 403 Forbidden
]
