<LoadPlugin "mysql">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin mysql>
  {{range $db := .Databases}}
  <Database "{{$.Name}}_{{$db.Name}}[monitorID={{$.MonitorID}}]">
    ReportHost {{toBool $.ReportHost}}
    Host "{{$.Host}}"
    Port {{$.Port}}
    Database "{{$db.Name}}"
    {{if $db.Username -}}User "{{$db.Username}}"{{else if $.Username}}User "{{$.Username}}"{{- end}}
    {{if $db.Password -}}Password "{{$db.Password}}"{{else if $.Password}}Password "{{$.Password}}"{{- end}}
    InnodbStats {{toBool $.InnodbStats}}
  </Database>
  {{end}}
</Plugin>
