LoadPlugin interface
<Plugin "interface">
{{- range .ExcludedInterfaces }}
  Interface "{{.}}"
{{- end }}
{{- range .IncludedInterfaces }}
  Interface "{{.}}"
{{- end }}
  IgnoreSelected {{if .ExcludedInterfaces}}true{{else}}false{{end}}
</Plugin>

<Chain "PostCache">
  <Rule "set_interface_monitor_id">
    <Match "regex">
      Plugin "^interface$"
    </Match>
    <Target "set">
      MetaData "monitorID" "{{.MonitorID}}"
    </Target>
  </Rule>
</Chain>
