######################################################
#
# {{ .SchemaName }}
#
# Copyright (C) 2005-2025 Splunk Inc. All Rights Reserved.
#
######################################################

[install]
state = enabled
is_configured = false
build = 0

[ui]
is_visible = false
label = Splunk Add-on for Opentelemetry Linux Autoinstrumentation (java, nodejs)

[launcher]
author = Splunk, Inc.
description = Linux autoinstrumentation for splunk addons
version = {{ .Version }}

[package]
id = {{ .SchemaName }}

[id]
name = {{ .SchemaName }}
version = {{ .Version }}
