<LoadPlugin "apache">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin "apache">
  <Instance "{{.Name}}[monitorID={{.MonitorID}}]">
    {{with .URL}}
    URL "{{renderValue . $ }}"
    {{end}}
    {{with .Username -}}
    User "{{.}}"
    {{end}}
    {{with .Password}}
    Password "{{.}}"
    {{end}}
  </Instance>
</Plugin>
