---
# Verification tasks to make sure that both collector and fluentd services are running

- name: Populate service facts
  ansible.builtin.service_facts:

- name: Set fluentd_supported fact
  ansible.builtin.set_fact:
    fluentd_supported: >-
      {{ (ansible_os_family != 'Suse'
         and not (ansible_distribution == 'Amazon' and ansible_distribution_version == '2023')
         and not (ansible_os_family == 'Debian' and ansible_distribution_major_version == '12')) }}

- name: Assert splunk-otel-collector service is running
  assert:
    that: ansible_facts.services['splunk-otel-collector.service'].state == 'running'

- name: Assert td-agent service is running
  assert:
    that: ansible_facts.services['td-agent.service'].state == 'running'
  when: fluentd_supported
