---
- name: Converge scenario with auto-instrumentation installation
  hosts: all
  become: yes
  vars:
    splunk_access_token: fake-token
    splunk_realm: fake-realm
    install_splunk_otel_auto_instrumentation: true
    splunk_otel_auto_instrumentation_systemd: true
  tasks:
    - name: "Include signalfx.splunk_otel_collector.collector role"
      include_role:
        name: "collector"
