extensions:
  smartagent:
    bundleDir: "${env:SPLUNK_BUNDLE_DIR}"
    collectd:
      configDir: "${env:SPLUNK_COLLECTD_DIR}"

receivers:
  smartagent/cpu:
    type: cpu
  smartagent/apache:
    type: collectd/apache
    host: localhost
    port: 80
    url: "http://localhost:80/server-status?auto"

exporters:
  debug:
    verbosity: detailed

service:
  telemetry:
    logs:
      level: debug
      output_paths: [ "${env:SPLUNK_HOME}/var/log/splunk/otel.log" ]
  extensions: [smartagent]
  pipelines:
    metrics/loggingcollectd:
      receivers: ["smartagent/apache", "smartagent/cpu"]
      exporters: [debug]