# Sample environment file for passing variables to the splunk-otel-collector service.
# See /etc/otel/collector/splunk_config_linux.yaml for how these variables will be consumed.

# To use this file, update the values below appropriately,
# and save the changes to "/etc/otel/collector/splunk_env".

# Then run the following commands to apply the changes and restart the service:
#   sudo systemctl daemon-reload
#   sudo systemctl restart splunk-otel-collector.service

# Command-line options for the splunk-otel-collector service. Run `/usr/bin/otelcol --help` to see all available options.
OTELCOL_OPTIONS=""

# Access token to authenticate requests.
SPLUNK_ACCESS_TOKEN=12345

# Which realm to send the data to.
SPLUNK_REALM=us0

# Splunk api endpoint URL.
SPLUNK_API_URL=https://api.us0.signalfx.com

# Splunk ingest endpoint URL.
SPLUNK_INGEST_URL=https://ingest.us0.signalfx.com

# Splunk trace endpoint URL.
SPLUNK_TRACE_URL=https://ingest.us0.signalfx.com/v2/trace

# How much memory to allocate to the ballast. This should be set to 1/3 to 1/2 of configured memory.
SPLUNK_BALLAST_SIZE_MIB=683

# Splunk HEC endpoint URL.
SPLUNK_HEC_URL=https://ingest.us0.signalfx.com/v1/log

# Splunk HEC token.
SPLUNK_HEC_TOKEN=12345
