---
- name: Install Splunk OpenTelemetry Collector with msi package manager
  ansible.builtin.import_tasks: otel_win_install.yml

- name: Set Windows Registry values
  ansible.builtin.import_tasks: otel_win_reg.yml

- name: Install Auto Instrumentation for .NET
  ansible.builtin.import_tasks: win_install_dotnet_auto_instrumentation.yml
  when: install_splunk_dotnet_auto_instrumentation
