---
- name: Set default ingest url
  set_fact:
    splunk_ingest_url: https://ingest.{{splunk_realm}}.signalfx.com
  when: splunk_ingest_url is not defined or (splunk_ingest_url | trim) == ""

- name: Set default api url
  set_fact:
    splunk_api_url: https://api.{{splunk_realm}}.signalfx.com
  when: splunk_api_url is not defined or (splunk_api_url | trim) == ""

- name: Set default trace url
  set_fact:
    splunk_trace_url: "{{splunk_ingest_url}}:443"
  when: splunk_trace_url is not defined or (splunk_trace_url | trim) == ""

- name: Set default hec url
  set_fact:
    splunk_hec_url: "{{splunk_ingest_url}}/v1/log"
  when: splunk_hec_url is not defined or (splunk_hec_url | trim) == ""

- name: Set default hec token
  set_fact:
    splunk_hec_token: "{{splunk_access_token}}"
  when: splunk_hec_token is not defined or (splunk_hec_token | trim) == ""
