---
- name: Converge scenario with auto-instrumentation installation
  hosts: all
  become: yes
  vars:
    install_local_artifact: true
    splunk_access_token: fake-token
    splunk_realm: fake-realm
    install_splunk_otel_auto_instrumentation: true
    splunk_otel_auto_instrumentation_version: latest
    splunk_otel_auto_instrumentation_resource_attributes: deployment.environment=test
    splunk_otel_auto_instrumentation_service_name: test
    splunk_otel_auto_instrumentation_generate_service_name: false
    splunk_otel_auto_instrumentation_disable_telemetry: true
    splunk_otel_auto_instrumentation_enable_profiler: true
    splunk_otel_auto_instrumentation_enable_profiler_memory: true
    splunk_otel_auto_instrumentation_enable_metrics: true
  tasks:
    - name: "Install nodejs for tests"
      ansible.builtin.import_tasks: ../shared/install_nodejs.yml
    - name: "Include signalfx.splunk_otel_collector.collector role"
      include_role:
        name: "signalfx.splunk_otel_collector.collector"
