---
- name: Converge scenario with dotnet instrumentation on Windows
  hosts: all
  become: no
  vars:
    splunk_access_token: fake-token
    splunk_realm: fake-realm
    install_signalfx_dotnet_auto_instrumentation: true
    signalfx_dotnet_auto_instrumentation_github_token: ${GITHUB_TOKEN}
  tasks:
    - name: "Include signalfx.splunk_otel_collector.collector role"
      include_role:
        name: "collector"
