---
- name: Verify scenario with the default configuration
  hosts: all
  gather_facts: true
  become: no
  vars:
    collector_reg_values:
      SPLUNK_CONFIG: '{{ ansible_env.ProgramData }}\Splunk\OpenTelemetry Collector\agent_config.yaml'
      SPLUNK_ACCESS_TOKEN: fake-token
      SPLUNK_REALM: fake-realm
      SPLUNK_API_URL: https://api.fake-realm.signalfx.com
      SPLUNK_HEC_TOKEN: fake-token
      SPLUNK_HEC_URL: https://ingest.fake-realm.signalfx.com/v1/log
      SPLUNK_INGEST_URL: https://ingest.fake-realm.signalfx.com
      SPLUNK_TRACE_URL: https://ingest.fake-realm.signalfx.com:443
    iis_reg_values:
      COR_ENABLE_PROFILING: "1"
      COR_PROFILER: "{B4C89B0F-9908-4F73-9F59-0D77C5A06874}"
      CORECLR_ENABLE_PROFILING: "1"
      CORECLR_PROFILER: "{B4C89B0F-9908-4F73-9F59-0D77C5A06874}"
      SIGNALFX_ENV: ""
      SIGNALFX_SERVICE_NAME: ""
      SIGNALFX_PROFILER_ENABLED: "false"
      SIGNALFX_PROFILER_MEMORY_ENABLED: "false"
    machine_reg_values:
      SIGNALFX_DOTNET_TRACER_HOME: '{{ ansible_env.ProgramFiles }}\SignalFx\.NET Tracing\'
  tasks:
    - name: Check splunk-otel-collector service
      ansible.windows.win_service:
        name: splunk-otel-collector
        state: started
      check_mode: yes
      register: service_status

    - name: Get installed signalfx-dotnet-tracing MSI version
      ansible.windows.win_shell: |
        $msi_version = ""
        $msi_name = "SignalFx .NET Tracing 64-bit"
        $regkey = "HKLM:\Software\Microsoft\Windows\CurrentVersion\Uninstall"
        $msi_version = (Get-ItemProperty ${regkey}\* |  Where { $_.DisplayName -eq "$msi_name" }).DisplayVersion
        echo $msi_version
      register: msi_version

    - name: Add SIGNALFX_GLOBAL_TAGS to iis_reg_values
      set_fact:
        iis_reg_values: |-
          {%- set tags = "splunk.zc.method:signalfx-dotnet-tracing-" + (msi_version.stdout | trim) -%}
          {{ iis_reg_values | combine({"SIGNALFX_GLOBAL_TAGS": tags}) }}

    - name: Get IIS env vars
      ansible.windows.win_reg_stat:
        path: HKLM:\SYSTEM\CurrentControlSet\Services\W3SVC
        name: Environment
      register: iis_env

    - name: Verify IIS env vars
      assert:
        that: (item.key + '=' + item.value) in iis_env.value
      loop: "{{ iis_reg_values | dict2items }}"

    - name: Get splunk-otel-collector service env vars
      ansible.windows.win_reg_stat:
        path: HKLM:\SYSTEM\CurrentControlSet\Services\splunk-otel-collector
        name: Environment
      register: collector_env

    - name: Verify splunk-otel-collector service env vars
      assert:
        that: (item.key + '=' + item.value) in collector_env.value
      loop: "{{ collector_reg_values | dict2items }}"

    - name: Verify .NET tracing env vars were not added to the system
      include_tasks: ../shared/verify_registry_key.yml
      vars:
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Environment
        name: "{{ item.key }}"
        exists: false
      loop: "{{ iis_reg_values | dict2items }}"

    - name: Verify .NET tracing MSI env vars were added to the system
      include_tasks: ../shared/verify_registry_key.yml
      vars:
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Environment
        name: "{{ item.key }}"
        value: "{{ item.value }}"
      loop: "{{ machine_reg_values | dict2items }}"
