{{ receiver "rabbitmq" }}:
  enabled: true
  service_type: rabbitmq
  rule:
    docker_observer: type == "container" and any([name, image, command], {# matches "(?i)rabbitmq.*"}) and not (command matches "splunk.discovery")
    host_observer: type == "hostport" and command matches "(?i)rabbitmq.*" and not (command matches "splunk.discovery")
    k8s_observer: type == "port" and pod.name matches "(?i)rabbitmq.*"
  config:
    default:
      endpoint: '`endpoint`'
      username: {{ defaultValue }}
      password: {{ defaultValue }}
      collection_interval: 10s
  status:
    metrics:
      - status: successful
        strict: rabbitmq.consumer.count
        message: RabbitMQ receiver is working!
    statements:
      - status: failed
        regexp: 'connect: network is unreachable'
        message: The endpoint is refusing RabbitMQ server connections.
      - status: failed
        regexp: 'connect: connection refused'
        message: The endpoint is refusing RabbitMQ server connections.
