{{ receiver "smartagent/collectd/kafka_producer" }}:
  enabled: true
  rule:
    docker_observer: type == "container" and any([name, image, command], {# matches "(?i)kafka.*producer"}) and not (command matches "splunk.discovery")
    host_observer: type == "hostport" and command matches "(?i)kafka.*producer"
    k8s_observer: type == "port" and pod.name matches "(?i)kafka.*producer"
  config:
    default:
      type: collectd/kafka_producer
      extraMetrics: ["*"]
      isolatedCollectd: true
  status:
    metrics:
      successful:
        - strict: gauge.kafka.producer.byte-rate
          first_only: true
          log_record:
            severity_text: info
            body: smartagent/collectd/kafka_producer receiver is working!
    statements:
      failed:
        - regexp: "Creating MBean server connection failed"
          first_only: true
          log_record:
            severity_text: info
            append_pattern: true
            body: The container is unable to connnect to the MBean server to retreive kafka metrics.
        - regexp: "java.rmi.UnknownHostException: Unknown host"
          first_only: true
          log_record:
            severity_text: info
            append_pattern: true
            body: Kafka host was discovered but is unresolvable.
