{{ receiver "smartagent/collectd/mysql" }}:
  enabled: false
  rule:
    docker_observer: type == "container" and any([name, image, command], {# matches "(?i)mysql"}) and not (command matches "splunk.discovery")
    host_observer: type == "hostport" and command matches "(?i)mysqld"
    k8s_observer: type == "port" and pod.name matches "(?i)mysql"
  config:
    default:
      type: collectd/mysql
      username: {{ defaultValue }}
      password: {{ defaultValue }}
      databases:
        - name: {{ defaultValue }}
      isolatedCollectd: true
  status:
    metrics:
      - status: successful
        strict: mysql_octets.rx
        log_record:
          body: smartagent/collectd/mysql receiver is working!
    statements:
      - status: failed
        regexp: "mysql plugin: Failed to connect to database .* at server .* Can't connect to MySQL server on .* [(]111[)]"
        log_record:
          append_pattern: true
          body: The container is refusing MySQL connections.
      - status: partial
        regexp: 'mysql plugin: Failed to connect to database .* at server .* Access denied for user .* [(]using password: .*[)]'
        log_record:
          append_pattern: true
          body: >-
            Make sure your user credentials are correctly specified using the
            `--set {{ configProperty "username" "<username>" }}` and
            `--set {{ configProperty "password" "<password>" }}` command or the
            `{{ configPropertyEnvVar "username" "<username>" }}` and
            `{{ configPropertyEnvVar "password" "<password>" }}` environment variables.
      - status: partial
        regexp: 'mysql plugin: Failed to connect to database .* at server .* Unknown database'
        log_record:
          append_pattern: true
          body: >-
            Make sure your MySQL databases are correctly specified using the
            `--set {{ configProperty "databases" "[{name: '<db-name-0>'}, {name: '<db-name-1>', username: '<username>', password: '<password>'}]" }}` command or the
            `{{ configPropertyEnvVar "databases" "[{name: '<db-name-0>'}, {name: '<db-name-1>', username: '<username>', password: '<password>'}]" }}` environment variable.
      - status: partial
        regexp: 'mysql plugin: Failed to connect to database .* at server .* Access denied for user .* to database'
        log_record:
          append_pattern: true
          body: >-
            Make sure your MySQL databases and auth information are correctly specified using the
            `--set {{ configProperty "databases" "[{name: '<db-name-0>'}, {name: '<db-name-1>', username: '<username>', password: '<password>'}]" }}` command or the
            `{{ configPropertyEnvVar "databases" "[{name: '<db-name-0>'}, {name: '<db-name-1>', username: '<username>', password: '<password>'}]" }}` environment variable.
