<LoadPlugin "curl_json">
  Interval {{.IntervalSeconds}}
</LoadPlugin>
<Plugin "curl_json">
  <URL "{{renderValue .URL (toMap $) }}">
    Instance "{{.Name}}[monitorID={{.MonitorID}}]"
    <Key "accepted conn">
      Type "phpfpm_requests"
      Instance "accepted"
    </Key>
    <Key "slow requests">
      Type "phpfpm_requests"
      Instance "slow"
    </Key>
    <Key "listen queue*">
      Type "phpfpm_listen_queue"
      Instance ""
    </Key>
    <Key "active processes">
      Type "phpfpm_processes"
      Instance "active"
    </Key>
    <Key "idle processes">
      Type "phpfpm_processes"
      Instance "idle"
    </Key>
    <Key "max children reached">
      Type "phpfpm_processes"
      Instance "max_reached"
    </Key>
  </URL>
</Plugin>
