receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector'
          scrape_interval: 5s
          static_configs:
            - targets: ['thttpd:80']

exporters:
    otlp_http:
      metrics_endpoint: CHANGEME
      headers:
        "X-SF-Token": CHANGEME
    debug:
      verbosity: detailed

processors:
    batch:

extensions:
    health_check:
      endpoint: 0.0.0.0:13133
    pprof:
      endpoint: :1888
    zpages:
      endpoint: :55679
      expvar:
        enabled: true

service:
    extensions: [pprof, zpages, health_check]
    pipelines:
      metrics:
        receivers: [prometheus]
        processors: [batch]
        exporters: [debug]
