receivers:
  prometheus_exec:
    exec: /usr/bin/node_exporter
    port: 9100
    scrape_interval: 10s
processors:
  batch:
exporters:
  # Debug exporter
  # If using version 0.85 or lower of the Collector
  # replace 'debug' with 'logging'
  debug:
    verbosity: Detailed
service:
  pipelines:
    metrics:
      receivers: ["prometheus_exec"]
      processors: ["batch"]
      exporters: 
        - "logging"
