[Unit]
Description=Splunk OpenTelemetry Collector
After=network.target

[Service]
EnvironmentFile=/etc/otel/collector/splunk-otel-collector.conf
ExecStart=/usr/bin/otelcollauncher $OTELCOL_OPTIONS
SyslogIdentifier=otelcol
KillMode=mixed
Restart=on-failure
Type=simple
User=splunk-otel-collector
Group=splunk-otel-collector

[Install]
WantedBy=multi-user.target
