---
- name: Verify scenario with auto-instrumentation installation
  hosts: all
  gather_facts: false
  tasks:
    - name: Populate service facts
      ansible.builtin.service_facts:

    - name: Assert splunk-otel-collector service is running
      ansible.builtin.assert:
        that: ansible_facts.services['splunk-otel-collector.service'].state == 'running'

    - name: Populate package facts
      ansible.builtin.package_facts:

    - name: Get splunk-otel-auto-instrumentation version
      ansible.builtin.set_fact:
        auto_instrumentation_version: "{{ ansible_facts.packages['splunk-otel-auto-instrumentation'][0].version }}"

    - name: Check if splunk-otel-js is installed
      ansible.builtin.command: npm ls @splunk/otel
      args:
        chdir: /usr/lib/splunk-instrumentation/splunk-otel-js
      register: npm_ls
      changed_when: npm_ls.rc != 0

    - name: Check for the old config file
      ansible.builtin.stat:
        path: /usr/lib/splunk-instrumentation/instrumentation.conf
      register: old_config

    - name: Assert the old config file does not exist
      ansible.builtin.assert:
        that: not old_config.stat.exists

    - name: Check for systemd drop-in file
      ansible.builtin.stat:
        path: /usr/lib/systemd/system.conf.d/00-splunk-otel-auto-instrumentation.conf
      register: systemd

    - name: Assert systemd drop-in file does not exist
      ansible.builtin.assert:
        that: not systemd.stat.exists

    - name: Check for Java config file
      ansible.builtin.stat:
        path: /etc/splunk/zeroconfig/java.conf
      register: java_config

    - name: Assert Java config file does not exist
      ansible.builtin.assert:
        that: not java_config.stat.exists

    - name: Check for Node.js config file
      ansible.builtin.stat:
        path: /etc/splunk/zeroconfig/node.conf
      register: node_config

    - name: Assert Node.js config file does not exist
      ansible.builtin.assert:
        that: not node_config.stat.exists

    - name: Assert /etc/ld.so.preload contains path to libsplunk.so
      ansible.builtin.lineinfile:
        line: /usr/lib/splunk-instrumentation/libsplunk.so
        dest: /etc/ld.so.preload
        state: present
      check_mode: yes
      register: preload
      failed_when: preload is changed

    - name: Assert instrumentation config contains .NET env vars
      ansible.builtin.lineinfile:
        line: "{{ item }}"
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: present
      check_mode: yes
      register: config
      failed_when: config is changed
      loop:
        - CORECLR_ENABLE_PROFILING=1
        - CORECLR_PROFILER={918728DD-259F-4A6A-AC2B-B85E1B658318}
        - CORECLR_PROFILER_PATH=/usr/lib/splunk-instrumentation/splunk-otel-dotnet/linux-x64/OpenTelemetry.AutoInstrumentation.Native.so
        - DOTNET_ADDITIONAL_DEPS=/usr/lib/splunk-instrumentation/splunk-otel-dotnet/AdditionalDeps
        - DOTNET_SHARED_STORE=/usr/lib/splunk-instrumentation/splunk-otel-dotnet/store
        - DOTNET_STARTUP_HOOKS=/usr/lib/splunk-instrumentation/splunk-otel-dotnet/net/OpenTelemetry.AutoInstrumentation.StartupHook.dll
        - OTEL_DOTNET_AUTO_HOME=/usr/lib/splunk-instrumentation/splunk-otel-dotnet
        - OTEL_DOTNET_AUTO_PLUGINS=Splunk.OpenTelemetry.AutoInstrumentation.Plugin,Splunk.OpenTelemetry.AutoInstrumentation

    - name: Assert instrumentation config contains OTEL_RESOURCE_ATTRIBUTES
      ansible.builtin.lineinfile:
        line: "OTEL_RESOURCE_ATTRIBUTES=\
              splunk.zc.method=splunk-otel-auto-instrumentation-{{ auto_instrumentation_version }}"
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: present
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config does not contain OTEL_SERVICE_NAME
      ansible.builtin.lineinfile:
        regexp: '.*OTEL_SERVICE_NAME.*'
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: absent
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config contains SPLUNK_PROFILER_ENABLED
      ansible.builtin.lineinfile:
        line: SPLUNK_PROFILER_ENABLED=false
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: present
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config contains SPLUNK_PROFILER_MEMORY_ENABLED
      ansible.builtin.lineinfile:
        line: SPLUNK_PROFILER_MEMORY_ENABLED=false
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: present
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config contains SPLUNK_METRICS_ENABLED
      ansible.builtin.lineinfile:
        line: SPLUNK_METRICS_ENABLED=false
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: present
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config does not contain OTEL_EXPORTER_OTLP_ENDPOINT
      ansible.builtin.lineinfile:
        regexp: '.*OTEL_EXPORTER_OTLP_ENDPOINT.*'
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: absent
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config does not contain OTEL_EXPORTER_OTLP_PROTOCOL
      ansible.builtin.lineinfile:
        regexp: '.*OTEL_EXPORTER_OTLP_PROTOCOL.*'
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: absent
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config does not contain OTEL_METRICS_EXPORTER
      ansible.builtin.lineinfile:
        regexp: '.*OTEL_METRICS_EXPORTER.*'
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: absent
      check_mode: yes
      register: config
      failed_when: config is changed

    - name: Assert instrumentation config does not contain OTEL_LOGS_EXPORTER
      ansible.builtin.lineinfile:
        regexp: '.*OTEL_LOGS_EXPORTER.*'
        dest: /etc/splunk/zeroconfig/dotnet.conf
        state: absent
      check_mode: yes
      register: config
      failed_when: config is changed
