LoadPlugin "statsd"
<Plugin statsd>
  Host "{{.ListenAddress}}"
  Port {{.ListenPort}}
  {{if .DeleteSets}}DeleteSets true{{end}}
  {{if .DeleteCounters}}DeleteCounters true{{end}}
  {{if .DeleteTimers}}DeleteTimers true{{end}}
  {{if .DeleteGauges}}DeleteGauges true{{end}}
  {{with .TimerPercentile}}TimerPercentile {{.}}{{end}}
  {{if .TimerUpper}}TimerUpper true{{end}}
  {{if .TimerCount}}TimerCount true{{end}}
  {{if .TimerSum}}TimerSum true{{end}}
  {{if .TimerLower}}TimerLower true{{end}}
  {{if .CounterSum }}CounterSum true{{end}}
</Plugin>

<Chain "PostCache"> 
  <Rule "set_statsd_monitor_id"> 
    <Match "regex"> 
      Plugin "^statsd" 
    </Match> 
    <Target "set"> 
      MetaData "monitorID" "{{.MonitorID}}" 
    </Target> 
  </Rule> 
</Chain>
