---
# handlers file for splunk-otel-collector

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes
  listen:
    - restart splunk-otel-collector
    - restart td-agent

- name: Restart Splunk OpenTelemetry Collector
  ansible.builtin.service:
    name: splunk-otel-collector
    state: restarted
  listen: "restart splunk-otel-collector"
  when:
    - start_service

- name: Restart Splunk OpenTelemetry Collector for windows
  ansible.windows.win_shell: |
    Try {
      Restart-Service splunk-otel-collector
    } Catch {
      # Try to get some more helpful information given that the error message is not very helpful
      Write-Host "Error restarting splunk-otel-collector service: $_"

      Write-Host "Splunk OpenTelemetry Collector service registry entry:"
      Get-Item HKLM:\SYSTEM\CurrentControlSet\Services\splunk-otel-collector

      Write-Host "Last 15 Application log events:"
      Get-WinEvent -Log Application -MaxEvents 15 | Format-List TimeCreated, ProviderName, Message

      Write-Host "Last 15 System log events:"
      Get-WinEvent -Log System -MaxEvents 15 | Format-List TimeCreated, ProviderName, Message

      Throw $_
    }
  listen: "restart windows splunk-otel-collector"
  when:
    - start_service

- name: Reset IIS
  ansible.windows.win_shell: |
    try {
      Get-Command iisreset.exe
    } Catch {
      Exit
    }
    & { iisreset.exe }
  listen: "reset iis"
  when:
    - install_splunk_dotnet_auto_instrumentation and splunk_dotnet_auto_instrumentation_iisreset
