[Service] 
Environment="HTTP_PROXY={{ collector_splunk_otel_collector_proxy_http }}"
Environment="HTTPS_PROXY={{ collector_splunk_otel_collector_proxy_https }}"
Environment="NO_PROXY={{ collector_splunk_otel_collector_no_proxy }}"
