[Service] 
Environment="HTTP_PROXY={{ splunk_otel_collector_proxy_http }}"
Environment="HTTPS_PROXY={{ splunk_otel_collector_proxy_https }}" 
Environment="NO_PROXY={{ splunk_otel_collector_no_proxy }}"
