java_agent_jar={{ splunk_otel_auto_instrumentation_java_agent_jar }}
{% if splunk_otel_auto_instrumentation_resource_attributes is defined and splunk_otel_auto_instrumentation_resource_attributes %}
resource_attributes=splunk.zc.method=splunk-otel-auto-instrumentation-{{ auto_instrumentation_version }},{{ splunk_otel_auto_instrumentation_resource_attributes }}
{% else %}
resource_attributes=splunk.zc.method=splunk-otel-auto-instrumentation-{{ auto_instrumentation_version }}
{% endif %}
{% if splunk_otel_auto_instrumentation_service_name is defined and splunk_otel_auto_instrumentation_service_name %}
service_name={{ splunk_otel_auto_instrumentation_service_name }}
{% endif %}
generate_service_name={{ splunk_otel_auto_instrumentation_generate_service_name | string | lower }}
disable_telemetry={{ splunk_otel_auto_instrumentation_disable_telemetry | string | lower }}
enable_profiler={{ splunk_otel_auto_instrumentation_enable_profiler | string | lower }}
enable_profiler_memory={{ splunk_otel_auto_instrumentation_enable_profiler_memory | string | lower }}
enable_metrics={{ splunk_otel_auto_instrumentation_enable_metrics | string | lower }}
