---

- name: Install Splunk OpenTelemetry Auto Instrumentation with apt package manager
  ansible.builtin.import_tasks: apt_install_auto_instrumentation.yml
  when: ansible_os_family == "Debian"

- name: Install Splunk OpenTelemetry Auto Instrumentation with yum package manager
  ansible.builtin.import_tasks: yum_install_auto_instrumentation.yml
  when: ansible_os_family == "RedHat"

- name: Install Splunk OpenTelemetry Auto Instrumentation with zypper package manager
  ansible.builtin.import_tasks: zypper_install_auto_instrumentation.yml
  when: ansible_os_family == "Suse"

- name: Get installed package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Get installed splunk-otel-auto-instrumentation version
  ansible.builtin.set_fact:
    collector_auto_instrumentation_version: "{{ ansible_facts.packages['splunk-otel-auto-instrumentation'][0].version }}"

- name: Set auto instrumentation facts
  ansible.builtin.set_fact:
    collector_package_changed: "{{ collector_apt_instrumentation_package is changed \
      or collector_yum_instrumentation_package is changed \
      or collector_zypper_instrumentation_package is changed }}"
    collector_collector_npm_found: "{{ (collector_splunk_otel_auto_instrumentation_npm_path | default('npm')) != 'npm' }}"
    collector_with_new_instrumentation: "{{ collector_auto_instrumentation_version is version('0.87.0', '>=') }}"
    collector_with_systemd: "{{ collector_splunk_otel_auto_instrumentation_systemd }}"
    collector_with_java: "{{ 'java' in (collector_splunk_otel_auto_instrumentation_sdks | default([])) }}"
    collector_with_nodejs: "{{ 'nodejs' in (collector_splunk_otel_auto_instrumentation_sdks | default([])) \
      and collector_auto_instrumentation_version is version('0.87.0', '>=') }}"
    collector_with_dotnet: "{{ 'dotnet' in (collector_splunk_otel_auto_instrumentation_sdks | default([])) \
      and collector_auto_instrumentation_version is version('0.99.0', '>=') \
      and ansible_architecture in ('x86_64', 'amd64', 'aarch64') }}"

- name: Check for npm
  ansible.builtin.command: npm --version
  register: collector_npm_check
  changed_when: false
  ignore_errors: true
  when: collector_with_nodejs and not collector_collector_npm_found

- name: Set collector_collector_npm_found fact
  ansible.builtin.set_fact:
    collector_collector_npm_found: yes
  when: collector_with_nodejs and not collector_collector_npm_found and collector_npm_check is defined and collector_npm_check.rc == 0

- name: Create /usr/lib/splunk-instrumentation/splunk-otel-js/node_modules
  ansible.builtin.file:
    path: /usr/lib/splunk-instrumentation/splunk-otel-js/node_modules
    state: directory
    mode: '0755'
  when: collector_with_nodejs and collector_collector_npm_found and collector_package_changed

- name: Install splunk-otel-js
  community.general.npm:
    name: /usr/lib/splunk-instrumentation/splunk-otel-js.tgz
    path: /usr/lib/splunk-instrumentation/splunk-otel-js
    executable: "{{ collector_splunk_otel_auto_instrumentation_npm_path | default('npm') }}"
  when: collector_with_nodejs and collector_collector_npm_found and collector_package_changed

- name: Delete the Splunk OpenTelemetry Auto Instrumentation systemd config
  ansible.builtin.file:
    path: /usr/lib/systemd/system.conf.d/00-splunk-otel-auto-instrumentation.conf
    state: absent
  when: not collector_with_systemd
  notify: "Reload systemd daemon"

- name: Delete the old Splunk OpenTelemetry Auto Instrumentation config
  ansible.builtin.file:
    path: /usr/lib/splunk-instrumentation/instrumentation.conf
    state: absent
  when: collector_with_systemd or collector_with_new_instrumentation

- name: Delete the Splunk OpenTelemetry Auto Instrumentation for Java config file
  ansible.builtin.file:
    path: /etc/splunk/zeroconfig/java.conf
    state: absent
  when: collector_with_systemd or not collector_with_new_instrumentation or not collector_with_java

- name: Delete the Splunk OpenTelemetry Auto Instrumentation for Node.js config file
  ansible.builtin.file:
    path: /etc/splunk/zeroconfig/node.conf
    state: absent
  when: collector_with_systemd or not collector_with_new_instrumentation or not collector_with_nodejs or not collector_collector_npm_found

- name: Delete the Splunk OpenTelemetry Auto Instrumentation for .NET config file
  ansible.builtin.file:
    path: /etc/splunk/zeroconfig/dotnet.conf
    state: absent
  when: collector_with_systemd or not collector_with_new_instrumentation or not collector_with_dotnet

- name: Set up the Splunk OpenTelemetry Auto Instrumentation config file
  ansible.builtin.template:
    src: splunk-otel-auto-instrumentation.conf.j2
    dest: /usr/lib/splunk-instrumentation/instrumentation.conf
    owner: root
    group: root
    mode: '644'
  when: collector_with_java and not collector_with_new_instrumentation and not collector_with_systemd

- name: Set up the Splunk OpenTelemetry Auto Instrumentation for Java config file
  ansible.builtin.template:
    src: java.conf.j2
    dest: /etc/splunk/zeroconfig/java.conf
    owner: root
    group: root
    mode: '644'
  when: collector_with_java and collector_with_new_instrumentation and not collector_with_systemd

- name: Set up the Splunk OpenTelemetry Auto Instrumentation for Node.js config file
  ansible.builtin.template:
    src: node.conf.j2
    dest: /etc/splunk/zeroconfig/node.conf
    owner: root
    group: root
    mode: '644'
  when: collector_with_nodejs and collector_collector_npm_found and not collector_with_systemd

- name: Set up the Splunk OpenTelemetry Auto Instrumentation for .NET config file
  ansible.builtin.template:
    src: dotnet.conf.j2
    dest: /etc/splunk/zeroconfig/dotnet.conf
    owner: root
    group: root
    mode: '644'
  when: collector_with_dotnet and not collector_with_systemd

- name: Ensure the system.conf.d directory exists
  ansible.builtin.file:
    path: /usr/lib/systemd/system.conf.d
    state: directory
    mode: '644'
  when: collector_with_systemd

- name: Set up systemd for Splunk OpenTelemetry Auto Instrumentation
  ansible.builtin.template:
    src: 00-splunk-otel-auto-instrumentation.conf.j2
    dest: /usr/lib/systemd/system.conf.d/00-splunk-otel-auto-instrumentation.conf
    owner: root
    group: root
    mode: '644'
  when: collector_with_systemd and (collector_with_java or (collector_with_nodejs and collector_collector_npm_found) or collector_with_dotnet)
  notify: "Reload systemd daemon"

- name: Set up /etc/ld.so.preload for Splunk OpenTelemetry Auto Instrumentation
  ansible.builtin.template:
    src: ld_so_preload.j2
    dest: /etc/ld.so.preload
    owner: root
    group: root
    mode: '644'
