---

- name: Get local MSI installer
  ansible.builtin.import_tasks: win_local_msi.yml
  when: collector_local_artifact_testing_enabled

- name: Get remote MSI installer
  ansible.builtin.import_tasks: win_download_remote_msi.yml
  when: not collector_local_artifact_testing_enabled

- name: Use MSI capabilities to install the collector if possible
  ansible.builtin.set_fact:
    collector_splunk_collector_msi_is_configurable: true
  when:
    - collector_local_artifact_testing_enabled or collector_splunk_otel_collector_version is version('0.98.0', '>=')

- name: Build the arguments for the MSI installer
  when: collector_splunk_collector_msi_is_configurable is defined
  ansible.builtin.set_fact:
    collector_msi_unfiltered_arguments:
      - SPLUNK_ACCESS_TOKEN={{ collector_splunk_access_token }}
      - "{{ 'SPLUNK_API_URL=' + splunk_api_url if splunk_api_url != '' else '' }}"
      - "{{ 'GOMEMLIMIT=' + (collector_gomemlimit | string) if (collector_gomemlimit | string) != '' else '' }}"
      - "{{ 'SPLUNK_BUNDLE_DIR=' + collector_splunk_bundle_dir if collector_splunk_bundle_dir != '' else '' }}"
      - "{{ 'SPLUNK_COLLECTD_DIR=' + collector_splunk_collectd_dir if collector_splunk_collectd_dir != '' else '' }}"
      - "{{ 'SPLUNK_CONFIG=' + collector_splunk_otel_collector_config if collector_splunk_otel_collector_config != '' else '' }}"
      - "{{ 'SPLUNK_INGEST_URL=' + splunk_ingest_url if splunk_ingest_url != '' else '' }}"
      - "{{ 'SPLUNK_HEC_TOKEN=' + collector_splunk_hec_token if collector_splunk_hec_token != '' else '' }}"
      - "{{ 'SPLUNK_HEC_URL=' + splunk_hec_url if splunk_hec_url != '' else '' }}"
      - "{{ 'SPLUNK_LISTEN_INTERFACE=' + collector_splunk_listen_interface if collector_splunk_listen_interface != '' else '' }}"
      - "{{ 'SPLUNK_MEMORY_TOTAL_MIB=' + (collector_splunk_memory_total_mib | string)
               if (collector_splunk_memory_total_mib | string) != '' else '' }}"
      - "{{ 'SPLUNK_REALM=' + collector_splunk_realm if collector_splunk_realm != '' else '' }}"
      - "{{ 'COLLECTOR_SVC_ARGS=' + collector_splunk_otel_collector_command_line_args
               if collector_splunk_otel_collector_command_line_args != '' else '' }}"

- name: Filter out undefined arguments
  when: collector_splunk_collector_msi_is_configurable is defined
  ansible.builtin.set_fact:
    collector_msi_arguments: "{{ collector_msi_unfiltered_arguments | reject('eq', '') | list }}"

- name: Initialize lists for arguments
  ansible.builtin.set_fact:
    collector_args_without_spaces: []
    collector_collector_args_with_spaces: []

- name: Surround msi argument values with quotes to properly handle spaces in values
  when:
    - collector_splunk_collector_msi_is_configurable is defined
    - item is search(' ')
  ansible.builtin.set_fact:
    collector_collector_args_with_spaces: "{{ collector_collector_args_with_spaces + [item | ansible.builtin.regex_replace(_regex, _replacement)] }}"
  vars:
    _regex: '^([^=]*)=(.*)$'
    _replacement: '\1="\2"'
  loop: "{{ collector_msi_arguments }}"

- name: Compile args without spaces
  ansible.builtin.set_fact:
    collector_args_without_spaces: "{{ collector_args_without_spaces + [item] }}"
  loop: "{{ collector_msi_arguments }}"
  when:
    - collector_splunk_collector_msi_is_configurable is defined
    - item is not search(' ')

- name: Combine args with and without spaces
  ansible.builtin.set_fact:
    collector_msi_arguments: "{{ collector_collector_args_with_spaces + collector_args_without_spaces }}"

- name: Join msi argument list into space separated string
  when: collector_splunk_collector_msi_is_configurable is defined
  ansible.builtin.set_fact:
    collector_msi_arguments: "{{ collector_msi_arguments | join(' ') }}"

- name: Install splunk-otel-collector-msi
  when: collector_splunk_collector_msi_is_configurable is defined
  ansible.windows.win_package:
    path: "{{ msi_path }}"
    state: present
    arguments: "{{ collector_msi_arguments }}"

- name: Install splunk-otel-collector-msi-legacy
  when: collector_splunk_collector_msi_is_configurable is undefined
  ansible.windows.win_package:
    path: "{{ msi_path }}"
    state: present

- name: Merge custom config into the default config
  ansible.builtin.import_tasks: config_override.yml
  when: collector_splunk_config_override != ''

- name: Copy the custom config
  ansible.windows.win_copy:
    content: '{{ collector_updated_config | to_nice_yaml(indent=2) }}'
    dest: "{{ collector_splunk_otel_collector_config }}"
  when: collector_splunk_config_override != ''

- name: Push Custom Config file for splunk-otel-collector, If provided
  ansible.windows.win_template:
    src: "{{ collector_splunk_otel_collector_config_source }}"
    dest: "{{ collector_splunk_otel_collector_config }}"
  when: collector_splunk_otel_collector_config_source != ''
