---
- name: Set default vars for Linux
  ansible.builtin.set_fact:
    collector_splunk_otel_collector_config: |-
      {%- if collector_splunk_otel_collector_config -%}
        {{ collector_splunk_otel_collector_config }}
      {%- else -%}
        /etc/otel/collector/agent_config.yaml
      {%- endif -%}
    collector_splunk_bundle_dir: |-
      {%- if collector_splunk_bundle_dir -%}
        {{ collector_splunk_bundle_dir }}
      {%- else -%}
        /usr/lib/splunk-otel-collector/agent-bundle
      {%- endif -%}
    collector_splunk_collectd_dir: |-
      {%- if collector_splunk_collectd_dir -%}
        {{ collector_splunk_collectd_dir }}
      {%- else -%}
        /usr/lib/splunk-otel-collector/agent-bundle/run/collectd
      {%- endif -%}
  when: ansible_os_family != "Windows"

- name: Set configurable defaults for Windows
  ansible.builtin.import_tasks: win_configurable_vars.yml
  when: ansible_os_family == "Windows"

- name: Set default vars for Windows
  ansible.builtin.set_fact:
    registry_key: HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Environment
    collector_package_stage: release
    collector_win_base_url: https://dl.signalfx.com
    collector_win_use_proxy: "no"
    collector_dotnet_options:
      COR_ENABLE_PROFILING: "1"
      COR_PROFILER: "{918728DD-259F-4A6A-AC2B-B85E1B658318}"
      CORECLR_ENABLE_PROFILING: "1"
      CORECLR_PROFILER: "{918728DD-259F-4A6A-AC2B-B85E1B658318}"
      OTEL_RESOURCE_ATTRIBUTES:
        "deployment.environment={{ collector_splunk_dotnet_auto_instrumentation_environment }}\
        {{ ',' if collector_splunk_otel_auto_instrumentation_resource_attributes else '' }}\
        {{ collector_splunk_otel_auto_instrumentation_resource_attributes }}"
      OTEL_SERVICE_NAME: "{{ collector_splunk_dotnet_auto_instrumentation_service_name }}"
      SPLUNK_PROFILER_ENABLED: "{{ collector_splunk_dotnet_auto_instrumentation_enable_profiler }}"
      SPLUNK_PROFILER_MEMORY_ENABLED: "{{ collector_splunk_dotnet_auto_instrumentation_enable_profiler_memory }}"
    collector_iis_registry_key: HKLM:\SYSTEM\CurrentControlSet\Services\W3SVC
    collector_splunk_otel_collector_options:
      SPLUNK_ACCESS_TOKEN: "{{ collector_splunk_access_token }}"
      SPLUNK_API_URL: "{{ collector_splunk_api_url }}"
      GOMEMLIMIT: "{{ collector_gomemlimit if collector_gomemlimit != '' else omit }}"
      SPLUNK_BUNDLE_DIR: >-
        {{ collector_splunk_bundle_dir if collector_splunk_bundle_dir != '' else
        '{{ansible_env.ProgramFiles}}\Splunk\OpenTelemetry Collector\agent-bundle' }}
      SPLUNK_COLLECTD_DIR: "{{ collector_splunk_collectd_dir if collector_splunk_collectd_dir != '' else omit }}"
      SPLUNK_CONFIG: >-
        {{ collector_splunk_otel_collector_config if collector_splunk_otel_collector_config != '' else
        '{{ ansible_env.ProgramData }}\Splunk\OpenTelemetry Collector\agent_config.yaml' }}
      SPLUNK_INGEST_URL: "{{ collector_splunk_ingest_url }}"
      SPLUNK_HEC_TOKEN: "{{ collector_splunk_hec_token }}"
      SPLUNK_HEC_URL: "{{ collector_splunk_hec_url }}"
      SPLUNK_LISTEN_INTERFACE: "{{ collector_splunk_listen_interface if collector_splunk_listen_interface != '' else omit }}"
      SPLUNK_MEMORY_TOTAL_MIB: "{{ collector_splunk_memory_total_mib }}"
      SPLUNK_REALM: "{{ collector_splunk_realm }}"
    collector_splunk_otel_collector_service_registry_key: HKLM:\SYSTEM\CurrentControlSet\Services\splunk-otel-collector
  when: ansible_os_family == "Windows"
