---

- name: Set temporary MSI build directory path
  ansible.builtin.set_fact:
    collector_win_temp_msi_dir: "%TEMP%\\msi-build"

- name: Create temporary MSI build directory
  ansible.windows.win_file:
    path: collector_win_temp_msi_dir
    state: directory

- name: Move local MSI installer to target machine
  ansible.windows.win_copy:
    src: /tmp/msi-build/
    dest: collector_win_temp_msi_dir
  register: collector_otel_msi_package

- name: Get target machine path to MSI
  ansible.windows.win_find:
    paths: collector_win_temp_msi_dir
  register: collector_msi_dir_contents
  failed_when: collector_msi_dir_contents.files is not defined or collector_msi_dir_contents.files | length != 1

- name: Set MSI source path (local install)
  when: collector_local_artifact_testing_enabled
  ansible.builtin.set_fact:
    collector_msi_path: "{{ collector_msi_dir_contents.files[0].path }}"
