---

- name: Get splunk-otel-collector latest version
  ansible.windows.win_get_url:
    url: "{{ collector_win_base_url }}/splunk-otel-collector/msi/{{ collector_package_stage }}/latest.txt"
    dest: "%TEMP%"
    proxy_password: "{{ win_proxy_password | default(omit) }}"
    proxy_url: "{{ win_proxy_url | default(omit) }}"
    proxy_username: "{{ win_proxy_username | default(omit) }}"
    use_proxy: "{{ collector_win_use_proxy }}"
  register: collector_latest
  when: collector_splunk_otel_collector_version == "latest"

- name: Get content of remote file
  ansible.builtin.slurp:
    src: "{{ collector_latest.dest }}"
  register: collector_version
  when: collector_splunk_otel_collector_version == "latest"

- name: Decode remote file content for latest version
  ansible.builtin.set_fact:
    collector_splunk_otel_collector_version: "{{ collector_version.content | b64decode }}"
  when: collector_splunk_otel_collector_version == "latest"

- name: Get splunk-otel-collector for windows
  ansible.windows.win_get_url:
    url: "{{ collector_win_base_url }}/splunk-otel-collector/msi/{{ collector_package_stage }}/splunk-otel-collector-\
          {{ collector_splunk_otel_collector_version }}-amd64.msi"
    dest: "%TEMP%"
    proxy_password: "{{ win_proxy_password | default(omit) }}"
    proxy_url: "{{ win_proxy_url | default(omit) }}"
    proxy_username: "{{ win_proxy_username | default(omit) }}"
    use_proxy: "{{ collector_win_use_proxy }}"
  register: collector_otel_msi_package

- name: Set MSI source path (remote install)
  when: not collector_local_artifact_testing_enabled
  ansible.builtin.set_fact:
    collector_msi_path: "{{ collector_otel_msi_package.dest }}"
