---
- name: Converge scenario with auto-instrumentation installation
  hosts: all
  become: yes
  vars:
    splunk_access_token: fake-token
    splunk_realm: fake-realm
    install_splunk_otel_auto_instrumentation: true
    splunk_otel_auto_instrumentation_systemd: true
    splunk_otel_auto_instrumentation_resource_attributes: deployment.environment=test
    splunk_otel_auto_instrumentation_service_name: test
    splunk_otel_auto_instrumentation_enable_profiler: true
    splunk_otel_auto_instrumentation_enable_profiler_memory: true
    splunk_otel_auto_instrumentation_enable_metrics: true
    splunk_otel_auto_instrumentation_otlp_endpoint: http://0.0.0.0:4317
  tasks:
    - name: "Include signalfx.splunk_otel_collector.collector role"
      include_role:
        name: "collector"
