# One of 'breaking', 'deprecation', 'new_component', 'enhancement', 'bug_fix'
change_type: breaking

# The name of the component, or a single word describing the area of concern, (e.g. crosslink)
component: configserver

# A brief description of the change.  Surround your text with quotes ("") if it needs to start with a backtick (`).
note: Removed the, already deprecated, localhost config endpoint, `http://localhost:55554/debug/configz` and the related environment variables.

# One or more tracking issues related to the change
issues: [6984]

# (Optional) One or more lines of additional information to render under the primary note.
# These lines will be padded with 2 spaces and then inserted directly into the document.
# Use pipe (|) for multiline entries.
subtext: |
  Same functionality is available via the `zpages` extension that is configured to expose the collector configurations
  (initial and effective) via the `expvarz` endpoint, e.g.: http://localhost:55679/debug/expvarz
  for the default `zpages` configuration. The endpoint contents is a JSON map in which the keys
  `splunk.config.initial` and `splunk.config.effective` contains a string with the respective
  configuration YAML. See [#6595](https://github.com/signalfx/splunk-otel-collector/pull/6595#issue-3316751731)
  for example usage.
