name: Push Ansible Release Tag

on:
  push:
    branches:
      - main
    paths:
      - deployments/ansible/galaxy.yml

permissions:
  contents: write

jobs:
  push-ansible-release-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Read current version of the Ansible Collection
        id: read-galaxy-yaml
        uses: cumulusds/get-yaml-paths-action@v0.1.0
        with:
          file: deployments/ansible/galaxy.yml
          version: version

      - name: Push Release Tag
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
              await github.git.createRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: "refs/tags/ansible-v${{ steps.read-galaxy-yaml.outputs.version }}",
                sha: context.sha
              })
