name: compile

on:
  workflow_call:
    inputs:
      sys_binary:
        required: true
        type: string

env:
  GO_VERSION: 1.23.8

jobs:
  compile:
    name: compile
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Build Collector
        run: |
          make ${{ inputs.sys_binary }}

      - name: Uploading binaries
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.sys_binary }}
          path: |
            ./bin/*