name: gendependabot

on:
  pull_request:
    paths:
      - '.github/dependabot.yml'
      - '.github/workflows/gendependabot.yml'
      - '.github/workflows/scripts/gendependabot.sh'

env:
  GO_VERSION: 1.22.6

jobs:
  gendependabot:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'
      - run: make gendependabot
      - name: Check .github/dependabot.yml
        run: |
          if ! git diff --exit-code .github/dependabot.yml; then
            echo ".github/dependabot.yml is out of date. Run 'make gendependabot' and push the changes"
            exit 1
          fi
