name: "Integration Test"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/integration-test.yml'
      - 'go.mod'
      - 'go.sum'
      - 'agent-bundle/**'
      - 'cmd/otelcol/**'
      - 'internal/**'
      - '!internal/buildscripts/*'
      - '!internal/buildscripts/packaging/*/**'
      - 'pkg/**'
      - 'tests/**'

concurrency:
  group: integration-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: "1.19.6"
  GOTESPLIT_TOTAL: "10"

jobs:
  docker-otelcol:
    name: docker-otelcol
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # TODO: add support for arm64
        # ARCH: [ "amd64", "arm64" ]
        ARCH: [ "amd64" ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - id: module-cache
        uses: actions/cache@v3
        env:
          cache-name: cache-go-modules
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: v1-go-pkg-mod-${{ runner.os }}-${{ hashFiles('**/go.mod', '**/go.sum') }}
      - uses: actions/cache@v3
        with:
          path: .cache/buildx/agent-bundle-${{ matrix.ARCH }}
          key: agent-bundle-buildx-${{ matrix.ARCH }}-${{ hashFiles('agent-bundle/**') }}
          restore-keys: |
            agent-bundle-buildx-${{ matrix.ARCH }}-
      - uses: docker/setup-qemu-action@v2
        if: ${{ matrix.ARCH != 'amd64' }}
        with:
          platforms: ${{ matrix.ARCH }}
      - run: |
          make docker-otelcol ARCH=${{ matrix.ARCH }}
        env:
          DOCKER_BUILDKIT: '1'
      - run: docker save -o ./bin/image.tar otelcol:latest
      - uses: actions/upload-artifact@v3
        with:
          name: otelcol-${{ matrix.ARCH }}
          path: ./bin

  integration-vet:
    name: integration-vet
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # TODO: add support for arm64
        # ARCH: [ "amd64", "arm64" ]
        ARCH: [ "amd64" ]
      fail-fast: false
    needs: [docker-otelcol]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - id: module-cache
        uses: actions/cache@v3
        env:
          cache-name: cache-go-modules
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: v1-go-pkg-mod-${{ runner.os }}-${{ hashFiles('**/go.mod', '**/go.sum') }}
      - uses: actions/download-artifact@v3
        with:
          name: otelcol-${{ matrix.ARCH }}
          path: ./bin
      - uses: docker/setup-qemu-action@v2
        if: ${{ matrix.ARCH != 'amd64' }}
        with:
          platforms: ${{ matrix.ARCH }}
      - run: docker load -i ./bin/image.tar
      - run: chmod a+x ./bin/*
      - run: make integration-vet
        env:
          SPLUNK_OTEL_COLLECTOR_IMAGE: 'otelcol:latest'

  integration-test:
    name: integration-test
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    needs: [docker-otelcol]
    strategy:
      matrix:
        GOTESPLIT_INDEX: [ "0", "1", "2", "3", "4", "5", "6", "7", "8", "9" ]
        # TODO: add support for arm64
        # ARCH: [ "amd64", "arm64" ]
        ARCH: [ "amd64" ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - id: module-cache
        uses: actions/cache@v3
        env:
          cache-name: cache-go-modules
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: go-${{ github.job }}-${{ runner.os }}-${{ hashFiles('**/go.mod', '**/go.sum') }}
      - uses: actions/download-artifact@v3
        with:
          name: otelcol-${{ matrix.ARCH }}
          path: ./bin
      - uses: docker/setup-qemu-action@v2
        if: ${{ matrix.ARCH != 'amd64' }}
        with:
          platforms: ${{ matrix.ARCH }}
      - run: docker load -i ./bin/image.tar
      - run: chmod a+x ./bin/*
      - run: make integration-test-split
        env:
          SPLUNK_OTEL_COLLECTOR_IMAGE: 'otelcol:latest'
          GOTESPLIT_TOTAL: "${{ env.GOTESPLIT_TOTAL }}"
          GOTESPLIT_INDEX: "${{ matrix.GOTESPLIT_INDEX }}"
