name: lint-examples

on:
  pull_request:
    paths:
      - '.github/workflows/lint-examples.yml'
      - '.golangci.yml'
      - 'examples/**/*.go'
      - 'examples/**/go.mod'
      - 'examples/**/go.sum'

concurrency:
  group: lint-examples-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.25.2

jobs:
  lint:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment

      - name: Lint
        run: |
          shopt -s globstar nullglob
          for gomod in examples/**/go.mod; do
            dir=$(dirname "$gomod")
            pushd "$dir" >/dev/null
            echo "Running 'make lint' in $dir ..."
            make lint
            popd >/dev/null
          done
