on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - '.github/workflows/lychee.yml'
  pull_request:
    paths:
      - '**.md'
      - '.github/workflows/lychee.yml'
  schedule:
    - cron: "0 0 * * 1"

jobs:
  linkChecker:
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: lychee Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.6.1
        with:
          args: --max-concurrency 20 --accept 200 --exclude "my.host" --exclude "file://*" --exclude "api.*.signalfx.com" --exclude "ingest.*.signalfx.com" --exclude "splunk.jfrog.io.*basearch" --exclude "localhost:*" --exclude "127.*:*" --exclude "splunk_gateway_url" --exclude ".*.cf-app.com" -v -n './*.md' './**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Issue From File
        if: failure() && github.event_name == 'schedule'
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
