on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - '.github/workflows/lychee.yml'
      - '.lychee.toml'
  pull_request:
    paths:
      - '**.md'
      - '.github/workflows/lychee.yml'
      - '.lychee.toml'
  schedule:
    - cron: "0 0 * * 1"

jobs:
  linkChecker:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: lychee Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.4.1
        with:
          lycheeVersion: v0.18.1
          args: -v -n --config .lychee.toml './*.md' './**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Issue From File
        if: failure() && github.event_name == 'schedule'
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
