name: release-requirements

on:
  pull_request:
    paths:
      - '.github/workflows/release-requirements.yml'
      - 'packaging/release/requirements.txt'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  install-requirements:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'
          cache: 'pip'
          cache-dependency-path: 'packaging/release/requirements.txt'

      - run: pip install -r packaging/release/requirements.txt
