name: unit-test

on:
  workflow_call:
    inputs:
      OS:
        required: true
        type: string
      COVERAGE:
        required: false
        type: boolean
      TEST_RACE:
        required: false
        type: boolean

env:
  GO_VERSION: 1.25.6

jobs:
  unit-test:
    runs-on: ${{ inputs.OS }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-environment

      - name: Set CGO_ENABLED
        # Currently, CGO enabled is required for:
        # - race detection on non-macOS systems
        run: |
          if [[ "${{ inputs.OS }}" =~ ^mac ]] || [[ "${{ inputs.TEST_RACE }}" == "false" ]]; then
            echo "Disabling CGO"
            go env -w CGO_ENABLED=0
          else
            echo "Enabling CGO"
            go env -w CGO_ENABLED=1
          fi

      - name: bundle.d
        run: |
          make bundle.d
          if ! git diff --exit-code; then
            echo "Discovery bundle.d config has changed. Run 'make bundle.d' and push the changes or ensure correct .tmpl updated."
            exit 1
          fi

      - name: Unit tests
        run: |
          set -o pipefail
          export ENABLE_RACE_DETECTOR=${{ inputs.TEST_RACE }}
          if ${{ inputs.COVERAGE }}; then
            mkdir -p unit-test-results-${{ inputs.OS }}/junit
            trap "go-junit-report  -set-exit-code < unit-test-results-${{ inputs.OS }}/go-unit-tests.out > unit-test-results-${{ inputs.OS }}/junit/results.xml" EXIT
            COVER_TESTING=true make gotest-with-codecov | tee unit-test-results-${{ inputs.OS }}/go-unit-tests.out
          else
            make test-all
          fi

      - name: Uploading artifacts
        if: ${{ inputs.COVERAGE }}
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results-${{ inputs.OS }}
          path: ./unit-test-results-${{ inputs.OS }}

      - name: Upload coverage report
        if: ${{ inputs.COVERAGE }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # 5.5.1
        with:
          fail_ci_if_error: true
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
