name: build-package

on:
  workflow_call:
    inputs:
      SYS_PACKAGE:
        required: true
        type: string
      ARCH:
        required: true
        type: string
    outputs:
      version:
        description: "The package version"
        value: ${{ jobs.build-package.outputs.version }}

env:
  GO_VERSION: 1.25.7

jobs:
  build-package:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Get package version
        id: get-version
        run: |
          # Get base version from git and strip the v prefix
          VERSION=$(git describe --match "v[0-9]*" HEAD | sed 's/^v//' | sed 's/-g[0-9a-f]*$//')
          
          # Logic to handle deb vs rpm version format
          if [[ "${{ inputs.SYS_PACKAGE }}" = "rpm" ]]; then
            # RPM expects numeric/dot or convert X.Y.Z-60 to X.Y.Z_60 (replace dash with underscore)
            VERSION="${VERSION//-/_}"
          fi
          
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Downloading binaries-linux_${{ inputs.ARCH }}
        uses: actions/download-artifact@v7
        with:
          name: binaries-linux_${{ inputs.ARCH }}
          path: ./bin

      - uses: actions/download-artifact@v7
        with:
          name: agent-bundle-linux-${{ inputs.ARCH }}
          path: ./dist

      - name: Build ${{ inputs.SYS_PACKAGE }} ${{ inputs.ARCH }} package
        run: make ${{ inputs.SYS_PACKAGE }}-package SKIP_COMPILE=true SKIP_BUNDLE=true VERSION="${{ steps.get-version.outputs.version }}" ARCH="${{ inputs.ARCH }}"

      - name: Uploading ${{ inputs.SYS_PACKAGE }} ${{ inputs.ARCH }} package artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.SYS_PACKAGE }}-${{ inputs.ARCH }}-package
          path: ./dist/splunk-otel-collector*
