name: build-package

on:
  workflow_call:
    inputs:
      SYS_PACKAGE:
        required: true
        type: string
      ARCH:
        required: true
        type: string

env:
  GO_VERSION: 1.24.6

jobs:
  build-package:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Downloading binaries-linux_${{ inputs.ARCH }}
        uses: actions/download-artifact@v5
        with:
          name: binaries-linux_${{ inputs.ARCH }}
          path: ./bin

      - uses: actions/download-artifact@v5
        with:
          name: agent-bundle-linux-${{ inputs.ARCH }}
          path: ./dist

      - name: Build ${{ inputs.SYS_PACKAGE }} ${{ inputs.ARCH }} package
        run: make ${{ inputs.SYS_PACKAGE }}-package SKIP_COMPILE=true SKIP_BUNDLE=true VERSION="" ARCH="${{ inputs.ARCH }}"

      - name: Uploading ${{ inputs.SYS_PACKAGE }} ${{ inputs.ARCH }} package artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.SYS_PACKAGE }}-${{ inputs.ARCH }}-package
          path: ./dist/splunk-otel-collector*
