name: msi-build

on:
  workflow_call:
    inputs:
      OS:
        required: true
        type: string

env:
  GO_VERSION: 1.25.3

jobs:
  msi-build:
    runs-on: ${{ inputs.OS }}
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Install Wix
        run: dotnet tool restore

      - name: Downloading binaries-windows_amd64
        uses: actions/download-artifact@v5
        with:
          name: binaries-windows_amd64
          path: ./bin

      - name: Downloading agent-bundle-windows
        uses: actions/download-artifact@v5
        with:
          name: agent-bundle-windows-${{ inputs.OS }}
          path: ./dist

      - name: Downloading msi-custom-actions
        uses: actions/download-artifact@v5
        with:
          name: msi-custom-actions
          path: ./packaging/msi/SplunkCustomActions/bin/Release

      - name: Build MSI
        shell: bash
        run: |
          # Build script parameters
          VERSION=""
          JMX_METRIC_GATHERER_RELEASE=$(cat packaging/jmx-metric-gatherer-release.txt)

          ./packaging/msi/build.sh "$VERSION" "$JMX_METRIC_GATHERER_RELEASE"

      - name: Uploading msi build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: msi-build-${{ inputs.OS }}
          path: ./dist/*.msi
