name: msi-custom-actions

on:
  workflow_call:
    inputs:
      OS:
        required: true
        type: string
      ARCH:
        required: true
        type: string
jobs:
  msi-custom-actions:
    runs-on: ${{ inputs.OS }}
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Build Custom Actions
        working-directory: packaging/msi/SplunkCustomActions
        run: |
          dotnet test ./test/SplunkCustomActionsTests.csproj -c Release
          dotnet build ./src/SplunkCustomActions.csproj -c Release -p:Platform=${{ inputs.ARCH }} -o ./bin/Release
          mkdir "${{ github.workspace }}/dist"
          cp ./bin/Release/SplunkCustomActions.CA.dll "${{ github.workspace }}/dist/SplunkCustomActions-${{ inputs.ARCH }}.CA.dll"

      - uses: actions/upload-artifact@v6
        with:
          name: msi-custom-actions-${{ inputs.OS }}
          path: ./dist/SplunkCustomActions-${{ inputs.ARCH }}.CA.dll
