name: agent-bundle-windows

on:
  workflow_call:
    inputs:
      OS:
        required: true
        type: string

env:
  PIP_CACHE_DIR: ${{ github.workspace }}/.cache/pip

jobs:
  agent-bundle-windows:
    runs-on: ${{ inputs.OS }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v5
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: agent-bundle-windows-pip-${{ hashFiles('packaging/bundle/collectd-plugins.yaml', 'packaging/bundle/scripts/requirements.txt') }}

      - run: ./packaging/bundle/scripts/windows/make.ps1 bundle

      - uses: actions/upload-artifact@v6
        with:
          name: agent-bundle-windows-${{ inputs.OS }}
          path: ./dist/agent-bundle_windows_amd64.zip
