name: msi-custom-actions

on:
  workflow_call:

jobs:
  msi-custom-actions:
    # WiX requires Windows, but what matters for the custom actions build is the
    # .NET SDK version, that is being pinned via a dedicated step.
    runs-on: windows-2025
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # tag: v5.1.0
        with:
          dotnet-version: 10.0.103

      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Build Custom Actions
        working-directory: packaging/msi/SplunkCustomActions
        run: |
          dotnet test ./test/SplunkCustomActionsTests.csproj -c Release
          dotnet build ./src/SplunkCustomActions.csproj -c Release -p:Platform="Any CPU" -o ./bin/Release
          mkdir "${{ github.workspace }}/dist"
          cp ./bin/Release/SplunkCustomActions.CA.dll "${{ github.workspace }}/dist/SplunkCustomActions.CA.dll"

      - uses: actions/upload-artifact@v6
        with:
          name: msi-custom-actions
          path: ./dist/SplunkCustomActions.CA.dll
