name: salt-test

# Only run tests for main branch or if the PR has relevant changes
on: 
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/salt-test.yml'
      - 'deployments/salt/**'
      - 'internal/buildscripts/packaging/tests/**'

concurrency:
  group: salt-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: 3.8.5
  PIP_VERSION: 20.2.4
  REQUIREMENTS_PATH: "internal/buildscripts/packaging/tests/requirements.txt"
  RESULT_PATH: "~/testresults"

jobs:
  salt-test:
    name: salt-test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PACKAGE_TYPE: [ "deb", "rpm" ]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Lint
        run: |
          make -C deployments/salt lint

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }} 
      
      - name: Caching dependency
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
          key: v1-pytest-${{ env.PYTHON_VERSION }}-${{ hashFiles(env.REQUIREMENTS_PATH) }}

      - name: Install pytest
        run: |
          if which pip; then
              pip install --upgrade 'pip==${{ env.PIP_VERSION }}'
          else
              curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
              python get-pip.py 'pip==${{ env.PIP_VERSION }}'
          fi
          pip install -r "${{ env.REQUIREMENTS_PATH }}"

      - name: Test salt deployment
        timeout-minutes: 45
        run: |
          mkdir -p ${{ env.RESULT_PATH }}
          pytest -n2 --verbose -m ${{ matrix.PACKAGE_TYPE }} \
            --junitxml=${{ env.RESULT_PATH }}/results.xml \
            --html=${{ env.RESULT_PATH }}/results.html \
            --self-contained-html \
            internal/buildscripts/packaging/tests/deployments/salt/salt_test.py
      
      - name: Uploading test result
        uses: actions/upload-artifact@v2
        with:
          name: salt-test-${{ matrix.PACKAGE_TYPE }}-result
          path: ${{ env.RESULT_PATH }}
