name: splunk-ta-otel-build/packaging/technical-addon

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/splunk-ta-otel.yml'
      - 'packaging/technical-addon/**'
      - 'cmd/**'
      - 'internal/**'
      - 'pkg/**'
      - 'tests/**'
      - '!**.md'
  workflow_dispatch:
    inputs:
      splunk_uf_version:
        description: 'Splunk UF version'
        required: false
        default: '9.4.0'
      splunk_uf_build_hash:
        description: 'Splunk UF build hash'
        required: false
        default: '6b4ebe426ca6'

concurrency:
  group: splunk-technical-addon-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.24.6
  ADDONS_SOURCE_DIR: "${{github.workspace}}/packaging/technical-addon"
  BUILD_DIR: "${{github.workspace}}/build"
  # Provide default values for non-manually triggered executions
  splunk_uf_version: ${{ github.event.inputs.splunk_uf_version || '9.4.0' }}
  splunk_uf_build_hash: ${{ github.event.inputs.splunk_uf_build_hash || '6b4ebe426ca6' }}

jobs:
  check_changes:
    runs-on: ubuntu-24.04
    outputs:
      ta_packaging_change: ${{ steps.filter.outputs.ta_packaging_change }}
      ta_workflow_change: ${{ steps.filter.outputs.ta_workflow_change }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags
      - name: Get changed files
        id: changed-files
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "files=$(git diff --name-only origin/${{ github.base_ref }} ${{ github.sha }} | tr '\n' ' ')" >> "$GITHUB_OUTPUT"
          else
            echo "files=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | tr '\n' ' ')" >> "$GITHUB_OUTPUT"
          fi
      - name: Filter paths
        id: filter
        run: |
          files="${{ steps.changed-files.outputs.files }}"
          if echo "$files" | grep -qE "packaging/technical-addon"; then
            echo "ta_packaging_change=true" >> "$GITHUB_OUTPUT"
          else
            echo "ta_packaging_change=false" >> "$GITHUB_OUTPUT"
          fi
          if echo "$files" | grep -qE ".github/workflows/splunk-ta-otel.yml"; then
            echo "ta_workflow_change=true" >> "$GITHUB_OUTPUT"
          else
            echo "ta_workflow_change=false" >> "$GITHUB_OUTPUT"
          fi

  test:
    name: test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        # see https://hub.docker.com/r/splunk/splunk/tags
        SPLUNK_VERSION: ["10.0", "9.4", "8.2"]
    defaults:
      run:
        working-directory: ${{github.workspace}}/packaging/technical-addon
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment

      - name: Build & Package TA
        run: |
          set -o pipefail
          pushd ${{github.workspace}}
          make -e bundle.d otelcol
          popd
          make -e generate-technical-addon copy-local-build-to-ta package-ta
          make -e smoketest-ta

  test-generator:
    needs: [check_changes]
    name: test-modinput-config-generator
    runs-on: ubuntu-24.04
    if: needs.check_changes.outputs.ta_packaging_change == 'true' || needs.check_changes.outputs.ta_workflow_change == 'true'
    defaults:
      run:
        working-directory: ${{github.workspace}}/packaging/technical-addon
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment

      - name: Test addon generator
        run: |
          set -o pipefail
          make -e test-ta-build-tools

      - name: Ensure license
        run: |
          set -o pipefail
          make -e addlicense

      - name: Ensure lint
        run: |
          set -o pipefail
          make -e lint

  test-ta-linux-autoinstrumentation:
    name: test-ta-linux-autoinstrumentation
    runs-on: ubuntu-24.04
    needs: [check_changes, test]
    if: needs.check_changes.outputs.ta_packaging_change == 'true' || needs.check_changes.outputs.ta_workflow_change == 'true'
    defaults:
      run:
        working-directory: ${{github.workspace}}/packaging/technical-addon
    steps:
        - uses: actions/checkout@v4
        - uses: ./.github/actions/setup-environment
        - name: Test normal go code
          run: |
            pushd ${{github.workspace}}/instrumentation
            make -e dist
            popd
            make -e test-ta-build-tools build-tas test

  distribute-ta:
    name: "distribute-ta" # what gets run to package in gitlab
    runs-on: ubuntu-24.04
    needs: [check_changes]
    if: needs.check_changes.outputs.ta_packaging_change == 'true' || needs.check_changes.outputs.ta_workflow_change == 'true'
    defaults:
      run:
        working-directory: ${{github.workspace}}/packaging/technical-addon
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment

      - name: Build & Package TA
        run: |
          set -o pipefail
          PLATFORM="all" make -e distribute-ta

      - name: Upload Collector TA
        uses: actions/upload-artifact@v4
        with:
          name: Splunk_TA_otel
          path: ${{github.workspace}}/build/out/distribution/Splunk_TA_otel.tgz

  smoke-test-windows:
    runs-on: windows-latest
    needs: [distribute-ta]
    steps:
      - name: Download the Splunk UF MSI
        shell: bash
        run: |
          curl https://download.splunk.com/products/universalforwarder/releases/${{ env.splunk_uf_version }}/windows/splunkforwarder-${{ env.splunk_uf_version }}-${{ env.splunk_uf_build_hash }}-windows-x64.msi -o splunkforwarder.msi

      - name: Install Splunk UF
        run: msiexec.exe /i "$PWD\splunkforwarder.msi" /qn /l*v install-log.txt AGREETOLICENSE=Yes

      - name: Download Collector TA
        uses: actions/download-artifact@v4
        with:
          name: Splunk_TA_otel
          path: ${{github.workspace}}/build/out/distribution

      - name:  Install Splunk_TA_otel on the local Splunk UF
        run: |
          tar -xzf "${{github.workspace}}/build/out/distribution/Splunk_TA_otel.tgz" -C "${Env:ProgramFiles}\SplunkUniversalForwarder\etc\apps"
          dir "${Env:ProgramFiles}\SplunkUniversalForwarder\etc\apps"

      - name: Restart Splunk UF
        run: |
          cd "${Env:ProgramFiles}\SplunkUniversalForwarder\bin"
          .\splunk.exe restart

      - name: Check Status
        if: always()
        run: |
          cd "${Env:ProgramFiles}\SplunkUniversalForwarder\var\log\splunk"
          Start-Sleep 15
          Write-Host "`n======= otel.log contents ======="
          Get-Content otel.log
          Write-Host "`n======= Splunk_TA_otel.log contents ======="
          Get-Content Splunk_TA_otel.log
          Write-Host "`n======= splunkd.log contents ======="
          Get-Content splunkd.log

  test-discovery:
    name: test-discovery
    runs-on: ubuntu-24.04
    needs: [test]
    defaults:
      run:
        working-directory: ${{github.workspace}}/packaging/technical-addon
    strategy:
      matrix:
        PLATFORM: ["all"]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Build & Package TA
        run: |
          set -o pipefail
          pushd ${{github.workspace}}
          make -e bundle.d otelcol
          popd
          make -e generate-technical-addon copy-local-build-to-ta package-ta
          make -e discovery-test-ta
  test-envvars:
    name: test-envvars
    runs-on: ubuntu-24.04
    needs: [test]
    defaults:
      run:
        working-directory: ${{github.workspace}}/packaging/technical-addon
    strategy:
      matrix:
        PLATFORM: ["all"]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Build & Package TA
        run: |
          set -o pipefail
          pushd ${{github.workspace}}
          make -e bundle.d otelcol
          popd
          make -e generate-technical-addon copy-local-build-to-ta package-ta
          make -e envvar-test-ta
  spell-check:
    name: spell-check
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment

      - uses: streetsidesoftware/cspell-action@v7
        with:
          config: ${{github.workspace}}/packaging/technical-addon/packaging-scripts/cspell/cspell.json
          root: ${{github.workspace}}/packaging/technical-addon/Splunk_TA_otel
          files: |
            !**/agent-bundle/**
