name: splunk-ta-otel-build

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/splunk-ta-otel.yml'
      - 'packaging/technical-addon/**'
      - 'cmd/**'
      - 'internal/**'
      - 'pkg/**'
      - 'tests/**'
      - '!**.md'

concurrency:
  group: splunk-technical-addon-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.22.7

jobs:
  setup-environment:
    name: setup-environment
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Installing dependency
        run: |
          make install-tools


  test:
    name: test
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    needs: [setup-environment]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Build & Package TA
        run: |
          set -o pipefail
          make -e package-technical-addon
  distribute-ta:
    name: "distribute-ta" # what gets run to package in gitlab
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    needs: [setup-environment]
    if: |
      (github.event_name == 'push' ||
      github.event_name == 'pull_request') &&
       contains(github.event.pull_request.files.*.filename, 'packaging/technical-addon/')
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Build & Package TA
        run: |
          set -o pipefail
          PLATFORM="all" make -e distribute-ta
