name: Tanzu Tile

# The workflow triggered by any change in deployments/cloudfoundry/bosh/
# or /deployments/cloudfoundry/tile

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'deployments/cloudfoundry/bosh/**'
      - 'deployments/cloudfoundry/tile/**'

permissions:
  contents: write

defaults:
  run:
    working-directory: 'deployments/cloudfoundry/tile'

jobs:

  test:
    name: Test Tanzu Tile creation
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Install license_finder
        run: sudo gem install license_finder

      - name: Add known licenses
        run: ./scripts/add_known_licenses.sh

      - name: Run license_finder from repository root
        run: |
          cd ../../..
          license_finder

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install BOSH CLI
        shell: bash
        run: |
          brew install cloudfoundry/tap/bosh-cli
          bosh -v
      - name: Install PCF CLI
        shell: bash
        run: |
          pip install tile-generator
      - name: Run make tile
        shell: bash
        run: |
          ./make-latest-tile
      - name: Check release
        shell: bash
        run: |
          tanzu_tile_glob="product/splunk-otel-collector-*.pivotal"
          # shellcheck disable=SC2086
          size="$(stat -c '%s' $tanzu_tile_glob)"
          if [[ $size -eq 0 ]]; then
            echo "File is empty!" >&2
            exit 1
          fi

          tanzu_tile_path=$(pwd)/"$tanzu_tile_glob"
          echo "tanzu_tile_path=$tanzu_tile_path" >> "$GITHUB_ENV"

      - name: Uploading artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tanzu-tile-latest.pivotal
          path: ${{ env.tanzu_tile_path }}
