name: trivy scans

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/trivy-scans.yml'
      - '.trivyignore'

env:
  GO_VERSION: '1.19.6'

concurrency:
  group: trivy-scans-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  trivy-fs-scan:
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Run trivy filesystem scan
        uses: aquasecurity/trivy-action@0.9.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          skip-dirs: 'deployments,examples,instrumentation/packaging,internal/buildscripts/packaging,tests'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true

  trivy-image-scan:
    # Use 20.04.5 until https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16450 is resolved
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # TODO: add support for arm64
        # ARCH: [ "amd64", "arm64" ]
        ARCH: [ "amd64" ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - id: module-cache
        uses: actions/cache@v3
        env:
          cache-name: cache-go-modules
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: v1-go-pkg-mod-${{ runner.os }}-${{ hashFiles('**/go.mod', '**/go.sum') }}
      - uses: actions/cache@v3
        with:
          path: .cache/buildx/agent-bundle-${{ matrix.ARCH }}
          key: agent-bundle-buildx-${{ matrix.ARCH }}-${{ hashFiles('agent-bundle/**') }}
          restore-keys: |
            agent-bundle-buildx-${{ matrix.ARCH }}-
      - uses: docker/setup-qemu-action@v2
        if: ${{ matrix.ARCH != 'amd64' }}
        with:
          platforms: ${{ matrix.ARCH }}
      - run: |
          make docker-otelcol ARCH=${{ matrix.ARCH }}
        env:
          DOCKER_BUILDKIT: '1'
      - name: Run trivy image scan
        uses: aquasecurity/trivy-action@0.9.1
        with:
          scan-type: 'image'
          image-ref: 'otelcol:latest'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
