name: win-installer-script-test

# Only run tests for main branch or if the PR has relevant changes
on: 
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/win-installer-script-test.yml'
      - '.github/workflows/scripts/**'
      - 'packaging/installer/install.ps1'

concurrency:
  group: win-installer-script-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        OS: [ "windows-2022", "windows-2025" ]
        MODE: [ "agent", "gateway" ]
      fail-fast: false
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Ensure required ports in the dynamic range are available
        run: |
          $ErrorActionPreference = 'Continue'
          & ${{ github.workspace }}\.github\workflows\scripts\win-required-ports.ps1

      - name: Installation test
        run: |
          $ErrorActionPreference = 'Stop'
          $env:VERIFY_ACCESS_TOKEN = "false"
          .\packaging\installer\install.ps1 -access_token "testing123" -realm "test" -mode "${{ matrix.MODE }}" -memory "256" -msi_public_properties "ARPCOMMENTS=`"Installed via install.ps1`" COLLECTOR_SVC_ARGS=`"--discovery --set=processors.batch.timeout=10s`""
          Start-Sleep -s 30
          & ${{ github.workspace }}\.github\workflows\scripts\win-test-services.ps1 -mode "${{ matrix.MODE }}" -access_token "testing123" -realm "test" -memory "256" -with_msi_uninstall_comments "Installed via install.ps1" -with_svc_args "--discovery --set=processors.batch.timeout=10s"
          & ${{ github.workspace }}\.github\workflows\scripts\win-test-support-bundle.ps1 -mode "${{ matrix.MODE }}"

      - name: splunk-otel-collector logs
        if: ${{ always() }}
        run: Get-WinEvent -ProviderName splunk-otel-collector | Sort-Object -Property TimeCreated | Select-Object -Property Message | Format-List
