name: windows-test

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/windows-test.yml'
      - 'cmd/**'
      - 'internal/**'
      - 'tests/**'
      - 'Makefile'
      - 'go.mod'
      - 'go.sum'
      - '!**.md'

concurrency:
  group: windows-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  windows-test:
    name: windows-test
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        OS: [ "windows-2019", "windows-2022" ]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v3

      - name: Caching dependency
        uses: actions/cache@v3
        with:
          path: |
            %LocalAppData%\go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.1

      - name: Install golang dependency
        run: |
          $ErrorActionPreference = 'Stop'
          $env:GOPATH = "${env:USERPROFILE}\go"
          go env -w CGO_ENABLED=0
          go install github.com/ory/go-acc@v0.2.6

      - name: Unit tests with coverage
        run: |
          $ErrorActionPreference = 'Stop'
          $env:GOPATH = "${env:USERPROFILE}\go"
          $env:PATH = "$env:PATH;${env:GOPATH}\bin"
          go-acc ./...
