name: windows-test

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/windows-test.yml'
      - 'cmd/**'
      - 'internal/**'
      - 'pkg/**'
      - 'tests/**'
      - 'Makefile'
      - 'go.mod'
      - 'go.sum'
      - '!**.md'
      - '!internal/buildscripts/**'

env:
  GO_VERSION: '1.22.6'

concurrency:
  group: windows-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  windows-test:
    name: windows-test
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        OS: [ "windows-2022" ]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Ensure required ports in the dynamic range are available
        run: |
          $ErrorActionPreference = 'Continue'
          & ${{ github.workspace }}\.github\workflows\scripts\win-required-ports.ps1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: '**/go.sum'

      - name: Unit tests with coverage
        run: |
          $ErrorActionPreference = 'Stop'
          $env:GOPATH = "${env:USERPROFILE}\go"
          $env:PATH = "$env:PATH;${env:GOPATH}\bin"
          go env -w CGO_ENABLED=0
          go test -v -cover ./...
